@import "fonts.css";

:root{
    --dark-color: #1e1f1c;
    --dark-grey: #414042;
    --light-grey: #808285;
    --gold-color: #c99e66;
}

*{
    margin: 0;
    padding: 0;
}

/* --------------------------- header -------------------------------- */
.header{
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    align-items: center;
    margin-top: -15px;
    z-index: 3;
    width: 100%;
    justify-content: center;
    background: rgba(144,144,144,.45);
}

.header_background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../../media/images/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.column_menu{
    column-count: 4;
}

.background_opacity{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.212);
}

.header_navigation{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
}

.header_navigation .nav_link{
    color: var(--gold-color);  
    font-size: 16px; 
    font-family: 'Roboto_medium';
    display: block;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.header_navigation .nav_link:hover{
    color: var(--dark-color);
}

.header_content{
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.header_content__title{
    display: inline-block;
    padding: 15px 20px 15px;
    background: rgba(218, 218, 218, 0.44);
    font-size: 32px;
    border: 5px solid var(--gold-color);
    margin: 0 0 30px;
    color: var(--dark-color);  
    font-family: 'Roboto_bold';
    text-transform: uppercase;
    text-align: center;
}

.header_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_buttons__gold{
    font-family: 'Roboto_medium';
    color: var(--dark-color);
    font-size: 17px;
    background: white;
    line-height: 42px;
    display: inline-block;
    border: 2px solid var(--gold-color);
    border-radius: 20px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 44%);
    margin: 0 15px;
}

.header_buttons__gold:hover{
    color: var(--gold-color);
}

.header_buttons__gold-reverse{
    font-family: 'Roboto_medium';
    color: white;
    font-size: 17px;
    background: var(--gold-color);
    line-height: 42px;
    display: inline-block;
    border: 2px solid var(--gold-color);
    border-radius: 20px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 44%);
    margin: 0 15px;
}

.header_buttons__gold-reverse:hover{
    background-color: #a57b44;
    color: white;
}

.header_content__text{
    font-family: 'Roboto_regular';
    font-size: 16px;
    color: var(--dark-color);
    margin-bottom: 50px;
}

.header_content__text span {
    color: var(--gold-color);
}

.logo img{
    width: 120px;
    height: 120px;
}

/* -------- burger btn -------- */
.burger_btn{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.burger_btn span{
    cursor: pointer;
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--gold-color);
    position: relative;
    z-index: 4;
    transition: .3s;
}

.burger_btn span::after{
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 30px;
    height: 5px;
    background-color: var(--gold-color);
}

.burger_btn span::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 30px;
    height: 5px;
    background-color: var(--gold-color);
}

.burger_btn.active span{
    transform: rotate(45deg);
}

.burger_btn.active span::after{
    top: 0;
    transform: rotate(-90deg);
}

.burger_btn.active span::before{
    display: none;
}
/* ----menu---- */
.mobile-menu{
    padding: 25px;
    top: 0;
    bottom: 0;
    right: 20%;
    left: 0;
    z-index: 3;
    transform: translateX(-100%);
    background: white;
    transition-duration: .3s;
    transition-timing-function: linear;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px, rgba(0, 0, 0, 0.5) 0px 12px 13px -3px, rgba(0, 0, 0, 0.4) 0px 0px 0px inset;
}

.mobile-menu.active{
    transform: translateX(0);
}

.mobile-menu_list{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.mobile-menu_link{
    color: var(--gold-color);  
    font-size: 18px; 
    font-family: 'Roboto_medium';
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 15px;
}
/* ----------------------------------------- tender_section ---------------------------- */
.tender_section{
    background-color: #f6f6f6;
    padding: 50px 0;
}

.title span{
    color: var(--gold-color);
}

.tender_section ul>li{
    list-style: none;
    font-family: 'Roboto_medium';
    font-size: 20px;
    color: var(--dark-grey);
    margin: 0 10px;
}

.tender_section ul>li>span{
    color: var(--gold-color);
}

.tender_link{
    display: block;
    text-decoration: none;
}

.tender_box{
    padding: 25px 20px;
    border: 4px solid #efefef;
    background: #fff;
    transition: all .2s ease;
}

.tender_link:hover>.tender_box{
    border: 4px solid #c99e6670;
    box-shadow: 0 0 20px rgb(30 40 50 / 15%);
}

.tender_info{
    margin-bottom: 20px;
}

.tender_info>img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.tender_info-text{
    font-family: 'Roboto_regular';
    font-size: 16px;
    color: var(--light-grey);
    line-height: 1.4;
    margin: 5px 0;
}

.tender_specialist{
    color: #00c4ce;
    font-family: 'Roboto_bold';
}

.tender_budget{
    color: var(--gold-color);
    font-family: 'Roboto_bold';
}

.tender_customer{
    font-family: 'Roboto_regular';
    font-size: 16px;
    color: var(--light-grey);
    margin-bottom: 10px;
}

.tender_description{
    font-size: 14px;
    font-family: 'Roboto_regular';
    color: #929292;
    font-style: italic;
    text-align: center;
    padding: 10px 0;
    border-top: 1px dashed #d2d3d3;
    border-bottom: 1px dashed #d2d3d3;
    line-height: 1.8em;
}

.tender_responses{
    margin: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #808285;
    font-size: 16px;
    font-weight: 500;
    /* padding: 0 0 0 34px; */
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAARCAMAAADub6yxAAABAlBMVEUAxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM4AxM705267AAAAVXRSTlMAAQIDBAYICgwPGBscIScsMTY3OTo8PT5CREZISk9SU1laXF5hZmdobG1wcnqAio2SlpeYnJ6hpaqsr7O8vcHFxszP19vd3ubr7u/x8vT29/n7/P3+yPtdPQAAAL1JREFUeAFly+c6w1AAx+FfaWtoUVRQxN5qDy2Kqj1OIv/7vxWJJE9yHu/3l0hl77r39dE9X+gjUz4wSnQdUgMdZfwlEmfKM2P8qf7IcoFTANZke+b4sh82ZHvjUE2YlK1DW94I3MuyPPgurcL4p3JahX1Jm0DtSangpFT3JM0QOlLs+2qKRnR7RWDW1+PitOvWylROA0nGIXTTWilRrI7Wd9q+Qi9zZBq3gWJNLMPz69vu1qvMBP8N7d49wC8z2UjXRyJ62gAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: 0 20%; */
}

.tender_btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.btn__white{
    font-family: 'Roboto_regular';
    display: inline-block;
    color: var(--dark-color);
    background: #fff;
    border: 2px solid var(--gold-color);
    height: 42px;
    line-height: 42px;
    margin-right: 45px;
    border-radius: 23px;
    width: 220px;
    text-align: center;
    text-decoration: none;
}

.btn__white:hover{
    color: var(--dark-color);
}

.btn__gold{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto_regular';
    width: 220px;
    height: 46px;
    line-height: 46px;
    border-radius: 23px;
    display: inline-block;
    text-transform: none;
    background: var(--gold-color);
    transition: all .2s ease;
}

.btn__gold:hover{
    color: white;
}



.text{
    font-family: 'Roboto_medium';
    font-size: 16px;
    color: var(--dark-grey);
    margin: 0 10px;
    text-align: center;
    margin-bottom: 50px;
}

.title{
    font-family: 'Roboto_bold';
    color: var(--dark-color);
    font-size: 28px;
    margin-bottom: 10px;
}



/* -------------------------------------- welcome --------------------------------- */
.welcome{
    background: white;
    padding: 50px 0;
}

.welcome_title{
    font-size: 30px;
    margin-bottom: 25px;
}

.welcome_client-register{
    width: 280px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.welcome_subtitle{
    font-family: 'Roboto_medium';
    font-size: 24px;
}

.welcome_spec-register{
    color: var(--light-grey);
}

.welcome_spec-register:hover{
    color: var(--light-grey);
}

/* ----------------------------------------- media ---------------------------- */

@media (max-width: 991px){
    .header nav{
        padding: 0 15px;
        width: 100%;
    }

    .header_navigation .nav_link{
        font-size: 14px; 
        margin: 0 7px;
    }

    .header_content__title{
        text-align: center;
        padding: 8px 12px 8px;
        font-size: 28px;
        margin: 0 0 30px;
    }
    
    .header_buttons__gold{
        font-size: 15px;
        line-height: 36px;
        text-align: center;
        margin: 0 15px;
    }
    
    .header_buttons__gold-reverse{
        font-size: 15px;
        line-height: 36px;
        text-align: center;
        margin: 0 15px;
    }
    
    .header_content__text{
        font-size: 16px;
        margin-bottom: 50px;
        max-width: 480px;
    }
}

@media (max-width: 767px){
    .header nav{
        justify-content: space-between;
    }
}

@media (max-width: 575px){
    .header_content__title{
        text-align: center;
        padding: 8px 5px;
        font-size: 22px;
        margin: 0 0 30px;
        border-width: 3px;
    }

    .header_buttons__gold{
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        margin: 0 8px;
        margin-bottom: 20px;
    }
    
    .header_buttons__gold-reverse{
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        margin: 0 8px;
    }
    
    .header_content__text{
        font-size: 16px;
        margin-bottom: 50px;
        max-width: 480px;
        text-align: center;
    }
    .header a.logo img{
        width: 100px;
        height: 100px;
    }
    .header_buttons{
        flex-direction: column;
    }
}
